@page
@model GrupoESINuevo.DetailsServiceModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ServiceModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceModel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceModel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceModel.serviceType.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceModel.serviceType.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ServiceModel.ApplicationUser)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ServiceModel.ApplicationUser.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./EditService" asp-route-id="@Model.ServiceModel.ID">Edit</a> |
    <a asp-page="./IndexService">Back to List</a>
</div>
