@page
@model GrupoESINuevo.IndexOrderModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="CreateOrder" asp-route-ServiceId="@Model.ServiceId">Create New Order</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Concepto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Service)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].EstadoDelPedido)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Order) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Concepto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Service.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoDelPedido)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-page="./EditOrder" asp-route-id="@item.Id">Edit</a>
                    <a asp-page="./DetailsOrder" asp-route-id="@item.Id">Details</a>
                    <a asp-page="./DeleteOrder" asp-route-id="@item.Id">Delete</a>
                }
                @if (User.IsInRole("Provider"))
                {
                <a asp-page="../Quotations/CreateQuotation" asp-route-orderId="@item.Id">Edit</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
