@page
@model GrupoESINuevo.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TaskModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskModel.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskModel.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskModel.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskModel.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskModel.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskModel.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskModel.Cost)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TaskModel.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
