@page
@model GrupoESINuevo.CreateQuotationModel

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Cotizacion</h1>
<div>
    <p>
        <a asp-page="../ManageOrders/AddServiceToOrder" asp-route-orderId="@Model._QuotationTaskMaterialVM.QuotationModel.OrderDetailsModel.Order.Id">Agregar servicio a la orden</a>
    </p>
</div>
<div>
    <p>

        <a asp-page="../Tasks/CreateTask" asp-route-orderDetailsId="@Model._QuotationTaskMaterialVM.orderDetailsId">Crear nueva tarea</a>
    </p>
</div>
@if (Model._QuotationTaskMaterialVM.lstTaskModel.Count > 0)
{
    <h3 class="text-info pb-2">Lista de Tareas</h3>
    <div class="row mt-3">
        <div class="col-7">
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => Model._QuotationTaskMaterialVM.lstTaskModel.FirstOrDefault().Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => Model._QuotationTaskMaterialVM.lstTaskModel.FirstOrDefault().Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => Model._QuotationTaskMaterialVM.lstTaskModel.FirstOrDefault().Cost)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => Model._QuotationTaskMaterialVM.lstTaskModel.FirstOrDefault().ListMaterial)
                    </th>
                    <th>

                    </th>
                </tr>
                @foreach (var item in Model._QuotationTaskMaterialVM.lstTaskModel)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.Cost)
                        </td>
                        <td>
                            <a asp-page="../Materials/IndexMaterial" asp-route-taskId="@item.Id" style="text-decoration:none;">
                                &nbsp; Ver materiales
                            </a>
                        </td>
                        <td>
                            <a class="btn btn-success" asp-page="../Materials/CreateMaterial" asp-route-taskId="@item.Id">
                                <i class="fas fa-plus"></i> &nbsp; Agregar Material
                            </a>
                            <a class="btn btn-primary" asp-page="../Tasks/EditTask" asp-route-taskId="@item.Id">
                                <i class="fas fa-wrench"></i> &nbsp; Editar Tarea
                            </a>
                            <button type="submit" asp-page-handler="DeleteTaskModel" asp-route-materialId="@item.Id" class="btn btn-danger form-control">
                                <i class="far fa-trash-alt"></i>
                            </button>

                        </td>
                    </tr>
                }


            </table>
        </div>
    </div>
}

    <div class="row">
        <div class="col-lg-12">
            <form method="post" enctype="multipart/form-data">
                <input hidden asp-for="_QuotationTaskMaterialVM.lstTaskModel" />
                @*<input hidden asp-for="_QuotationTaskMaterialVM.serviceIdVM" /> @Html.TextAreaFor(m => m._QuotationTaskMaterialVM.QuotationModel.Description)*@
                <input hidden asp-for="_QuotationTaskMaterialVM.QuotationModel.OrderDetailsModel.Id" />
                <input hidden asp-for="_QuotationTaskMaterialVM.QuotationModel.Id" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="_QuotationTaskMaterialVM.QuotationModel.Description" class="control-label"></label>
                    <h3 class="text-info pb-2">Descripción del problema </h3>

                    <input asp-for="_QuotationTaskMaterialVM.QuotationModel.Description" class="form-control span3" />
                    <span asp-validation-for="_QuotationTaskMaterialVM.QuotationModel.Description" class="text-danger"></span>
                    <p>Subir foto </p>
                    <input type="file" asp-for="_QuotationTaskMaterialVM.Upload" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Crear Cotizacion" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <a asp-page="Index">Back to List</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
