@page
@model GrupoESINuevo.IndexQuotationModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index Cotizaciones</h1>


@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetailsLocal[0].OrderDetailsModel.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetailsLocal[0].OrderDetailsModel.Service.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetailsLocal[0].OrderDetailsModel.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetailsLocal[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDetailsLocal[0].OrderDetailsModel.Status)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderDetailsLocal) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.OrderDetailsModel.Service.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDetailsModel.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @if (item.OrderDetailsModel.Status == 2)
                {
                    <p>Asignado</p>
                }
                @if (@item.OrderDetailsModel.Status == 1)
                {
                    <p>Rechazado</p>
                }
                @if (@item.OrderDetailsModel.Status == 0)
                {
                    <p>Espera</p>
                }
            </td>
            <td>
                <a class="btn btn-primary" asp-page="./CreateQuotation" asp-route-id="@item.OrderDetailsModel.Id">Ver cotizacion</a> |

                <a class="btn btn-danger" asp-page="./DeleteQuotation" asp-route-id="@item.OrderDetailsModel.Id">Borrar cotizacion</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
