@page
@model GrupoESINuevo.IndexMaterialModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="CreateMaterial" asp-route-taskId="@Model._materialVM.taskId">Agregar Material</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model._materialVM.Material[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._materialVM.Material[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model._materialVM.Material[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model._materialVM.Material) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./EditMaterial" asp-route-id="@item.Id">Editar</a> |
                <a asp-page="./DetailsMaterial" asp-route-id="@item.Id">Detalles</a> |
                <a asp-page="./DeleteMaterial" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
